html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #eee;
    line-height: 3em;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    header nav{
        flex: 1 1 100%;
        text-align: center;
    }
}
header a{
    display: inline-block;
    margin: 0 8px;
    text-decoration: none;
    color: inherit !important;
}
main{
    padding: 1rem;
    flex: 1;
}
footer{
    background-color: #444;
    color: #eee;
    line-height: 3em;
    padding: 0 1rem;
}

.form-item{
    display: flex;
    margin: 8px 0;
    max-width: 400px;
}
.form-item div{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.form-item label{
    width: 130px;
    display: flex;
    line-height: 1.2em;
    align-items: center;
}
.form-item .form-error{
    flex: 1 1 100%;
    font-size: 0.8em;
    padding: 4px 0;
    color: #800;
}
.form-item input, .form-item select, .form-item textarea, .form-item button{
    line-height: 2.4em;
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid #888;
    box-sizing: border-box;
    flex: 1;
}
.form-errors{
    margin: 8px 0;
    line-height: 1.4em;
}